---
title: Документация MetaShip

language_tabs: # must be one of https://git.io/vQNgJ
  - php

toc_footers:
  - <a href='https://metaship.ru'>О продукте</a>
  - <a href='https://cabinet.metaship.ru'>Личный кабинет</a>
  - <a href='https://api.metaship.ru/doc/v1/'>API, version 1</a>
  - <a href='https://github.com/metaship-ru/metaship-php-sdk'>PHP SDK</a>
  - <a href='https://github.com/metaship-ru/metaship-java-sdk'>Java SDK</a>
  - <a href='mailto:support@metaship.ru'>Поддержка</a>

search: false
---

<%= partial "includes/glossary.md.erb" %>
<%= partial "includes/about.md.erb" %>
<%= partial "includes/beginning.md.erb" %>
<%= partial "includes/domain/common.md.erb" %>
<%= partial "includes/domain/order.md.erb" %>
<%= partial "includes/domain/offer.md.erb" %>
<%= partial "includes/domain/parcel.md.erb" %>
<%= partial "includes/API/common.md.erb" %>
<%= partial "includes/API/offers.md.erb" %>
<%= partial "includes/API/orders.md.erb" %>
<%= partial "includes/testing.md.erb" %>
<%= partial "includes/FAQ.md.erb" %>